<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Welcome and Choose a Course</title>
    <style type="text/css">
        body {
            width: 800px;
            margin: auto;
        }
    </style>
</head>
<body>
<header>
    <h1>Courses List</h1>
</header>
<form th:method="POST">
    <h2>Choose course:</h2>

    <th:block th:each="course : ${courses}">
        <input type="radio" name="courseId" th:value="${course.getCourseId()}">
        <span th:text="${course.getName()}"/><br/>
    </th:block>

    <br/>
        <input type="submit" value="Submit"/>
</form>
</body>
</html>