<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Welcome and Choose a Course</title>
    <style type="text/css">
        body {
            width: 800px;
            margin: auto;
        }
    </style>
</head>
<body>
<header>
    <h1>Courses List</h1>
</header>

<table>
    <thead>
    <tr>
        <th scope="col">Course</th>
    </tr>
    </thead>
    <tbody>
    <form action="/courses/add-student" method="POST">

        <h2>Choose course:</h2>

        <tr th:each="course : ${courses}">
            <td><input type="radio" name="courseId" th:value="${course.getCourseId()}">
            <span th:text="${course.getName()}"/></td>

            <td>
                <a th:href="@{'/courses/delete/{id}' (id=${course.getCourseId()})}">Delete</a>
            </td>
            <td>
                <a th:href="@{'/courses/edit-form/{id}' (id=${course.getCourseId()})}">Edit</a>
            </td>
        </tr>

        <input type="submit" value="Submit" name="submitBtn"/>

    </form>

    <p th:text="${param.error}" style="color: red"></p>
    </tbody>
</table>



<form>
    <a href="/courses/add-course">Add new Course</a>
</form>
</body>
</html>